
/* color ref
=> #626d71 Slate
=> #cdcdc0 Ceramic
=> #ddbc95 Latte
=> #b38867 Coffee 

font ref
font-family: 'Arimo', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Rambla', sans-serif; )
*/
